.logo{
    width: 70px;
    height: 80px;
}
.logo:hover{
    width: 80px;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: teal;
    padding: 20px 9%;
    margin-top: 20px;
    margin-right: 20px;
    margin left: 20px;
    
}
.nav-link{
    display:inline-block
     
}
button{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin left: 10px;
    padding: 10px;
    border: none;
    border-radius:10px;
    cursor: pointer;
    width: 90px;
}
a{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-right: 25px;
    text-decoration: none;
    border-radius: 30px;
}
a:hover{
    color: white;
    background-color: yellowgreen;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    transition: all 0.5s;
}
button:hover{
    color:black;
    background-color:goldenrod;
    transition: all 0.5s;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: darkgray;
}
p{
  font-size: larger; 
}